# NPM конфигурация для проекта
# Разработчик: Alexey Savich

# Используем --omit=dev вместо --production
omit=dev

# Устанавливаем registry
registry=https://registry.npmjs.org/

# Отключаем предупреждения о deprecated опциях
audit=false
